@page
@model leeviuotinen.Pages.IndexModel
@{
    Layout = "_Layout";
}
<article class="site-content">
    <h1>Project: Create a Self-Hosted Website from Scratch</h1>

    <h2>Pieces to the puzzle</h2>
    <ul>
        <li>
            <a href="#">Linux server</a>
            <ul>
                <li>Installing Ubuntu 18.04 Server</li>
                <li>Network configuration and ssh</li>
            </ul>
        </li>
        <li><a href="#">ASP.NET Core web app</a></li>
        <li><a href="#">Continuous Integration with Jenkins</a></li>
        <li><a href="#">Nginx reverse proxy and SSL</a></li>
    </ul>
    
</article><!-- .site-content -->
